<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tips.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91ED47D71C1EBE03009D47E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91ED47EB1C1EBE04009D47E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91ED47F61C1EBE04009D47E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
